@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff; /* Light background */
  --color-text: #000000; /* Light text */
  --color-primary: #1d4ed8; /* Light primary color */
}

.light {
  --color-bg: #000000; /* Dark background */
  --color-text: #ffffff; /* Dark text */
  --color-primary: #1d4ed8; /* Dark primary color */
}

.dark {
  --color-bg: #1a202c; /* Dark background */
  --color-text: #ffffff; /* Dark text */
  --color-primary: #3b82f6; /* Dark primary color */
}

/* Apply the colors globally */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-primary);
}

button {
  background-color: var(--color-primary);
  color: var(--color-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
